src/main/resources/xsd/books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  === Слайди 4, 5 — SOAP контракт ===
  SOAP — старіший стандарт. Контракт описується через XSD, дані передаються в XML.
  WSDL (автогенерується) — це повний опис сервісу: операції, формати, адреси.
  Доступний за: http://localhost:8080/ws-services/books.wsdl
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://this4you/apiexample/soap/books"
           targetNamespace="http://this4you/apiexample/soap/books"
           elementFormDefault="qualified">

    <xs:element name="GetBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="author" type="xs:string"/>
                <xs:element name="isbn" type="xs:string"/>
                <xs:element name="priceUah" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
